.container {
    padding: 0px 30px 0px 30px;
}

.nav-container {
    width: 100%;
    display: flex;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 65px;
}

.nav-link {
    list-style-type: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
    flex-direction: row;
    align-content: flex-start;  
    display: none;
    }

/* to make the links on the right */
.nav-link:first-child {
  margin-left: auto;
}

 /* Change the link color to #111 (black) on hover */
.nav-link:hover {
    background-color: #111;
}

.nav-list {
    display: flex;
    align-content: space-around;  
    flex: 1;
    align-items: flex-end;
}

.brand {    
    color: white;
    font-size: 30px;
    display: flex;
    flex: 1;
    padding-top: 10px;    
}

.brand-container {
    display: flex;
}

.profile-pic {
    border-radius: 40%;        
    padding-top: 20px;
    padding-bottom: 20px;
    order: 2;   
    height: 40%; 
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
}

@media only screen and (min-width: 730px) {
    /* For ipad: */
    .profile-pic {
        width: 40%;
        padding-right: 30px;
        align-content: flex-end;
    }
}

@media only screen and (min-width: 800px) {
    /* For desktop: */
    .profile-pic {
        width: 40%;
        padding-right: 100px;
        align-content: flex-end;
    }
}

.fa-home {
    margin-right: 5px;
    font-size: 1.5rem;
}

.fa-briefcase {
    margin-right: 5px;
    font-size: 1.5rem;
}

.fa-user-circle-o {
    margin-right: 5px;
    font-size: 1.5rem;
}

.about {
    text-align: center;
    display: flex;
    height: 40%;
    flex-wrap: wrap;
}
.about-statement {
    order: 4;
    align-items: flex-end;
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.5rem;
}
@media only screen and (min-width: 800px) {
    /* For desktop: */
    .about-statement {
        font-size: 2rem;       
    }
}

.about-content {
    font-family: sans-serif;
    align-items: flex-start;  
    flex: 1; 
    width: 50%;    
}

@media only screen and (min-width: 375px) {
    /* For desktop: */
    .about-content {
        font-size: 1rem;                
    }
}

@media only screen and (min-width: 730px) {
    /* For ipad: */
    .about-content {
        font-size: 1.5rem;
        padding: 1px;             
    }
}

@media only screen and (min-width: 820px) {
    /* For desktop: */
    .about-content {
        font-size: 2.15rem;  
        padding-top: 125px;           
    }
}

.rule {    
    border-width: 4px; 
    border-style: dashed;
}

.projects-title {
    font-family: sans-serif; 
    padding-top: 20px;
}

.project-card {
    font-family: sans-serif; 
    padding-top: 30px;
    width: 320px;    
    padding-bottom: 20px;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer {    
    text-align: center;
    background-color: #333;
    justify-content: center;
}

.footer-content {
    justify-content: center;
    color: white;
    padding: 10px;
}

.logo {
    width: 100px;   
}

@media only screen and (min-width: 430px) {
    /* For mobile menu: */
    .nav-link {
        list-style-type: none;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;   
        flex-direction: row;  
        display: inline;        
    }
}

.menu {
       display: flex;
       align-content: space-around;  
       flex: 1;
       align-self: flex-end;
    }